---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import HeroCarousel from '~/components/common/HeroCarousel';
import LatestPosts from '~/components/common/LatestPosts';
import Social from '~/components/common/Social.astro';
import Editions from '~/components/common/Editions'; 
import Recent from '~/components/common/Recent';
import EditionBanner from '~/components/common/EditionBanner.astro';
import Trends from '~/components/common/Trends';
import RecentBooks from '~/components/common/RecentBooks';
import DPCampusBanner from '~/components/common/DPCampusBanner.astro'
import DPPodcast from '~/components/common/DPPodcast.astro'
const metadata = {
  title: 'Dialogo Político',
  ignoreTitleTemplate: true,
};

import { wpQuery } from "../graphql/latestPostQuery";
import type { Post } from "../generated/graphql";

const last5AgendaPosts = await wpQuery({
  query: `
  {
	posts(where: { categoryName: "Agenda" }, first: 5){
    nodes {
      id
      slug
      excerpt
      title
      date
      featuredImage {
        node {
          sourceUrl
        }
      }
      categories {
        nodes {
          name
        }
      }
      author{
         node {
          name
        }
      }
    }
  }
}
  `,
});

const recentDPEnfoque = await wpQuery({
  query:`{
    posts(where: { categoryName: "Documentos" }){
    nodes {
      id
      slug
      title   
      featuredImage {
        node {
          sourceUrl
        }
      }
    }
  }
  }`
});

const recentBooks = await wpQuery({
  query:`{
    posts(where: { categoryName: "Libros" }){
    nodes {
      id
      slug
      title   
      featuredImage {
        node {
          sourceUrl
        }
      }
    }
  }
  }`
});
/*
const postsByAuthor = await wpQuery({
  query:`
  {
    allContentfulAuthor(filter: {slug: {eq: "myslug"}}) {
    edges {
      node {
        name
        article {
          title
          slug
        }
      }
    }
  }
}
  `
});*/
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->
  <HeroCarousel client:load data={last5AgendaPosts.posts.nodes}/>
  <Social/>
  <h2 class="max-w-screen-lg mx-auto titles text-2xl font-bold">Más artículos recientes</h2>
  <LatestPosts client:load data={last5AgendaPosts.posts.nodes}/>
  <EditionBanner/>
  <h2 class="max-w-screen-lg mx-auto titles text-2xl font-bold">Más ediciones</h2>
  <Editions client:load/>
  <h2 class="max-w-screen-lg mx-auto titles text-2xl font-bold">Tendencias</h2>
  <Trends client:load data={last5AgendaPosts.posts.nodes}/>
  <DPCampusBanner/>
  <Recent client:load data={recentDPEnfoque.posts.nodes}/>
  <RecentBooks client:load data={recentBooks.posts.nodes}/>
  <DPPodcast/>


  
</Layout>
~/components/common/Editions